.row
  .col-md-2.col-md-offset-3
    %ul.nav.nav-pills.nav-stacked
      %li.nav-header
        Settings
      %li.active
        = link_to show_user_path do
          %span.icon.icon-briefcase
          Account
      %li
        = link_to app_authorization_requests_path do
          %span.icon.icon-key
          Apps
  .col-md-4
    = form_tag(update_user_path, method: :put) do
      - if flash[:success]
        .alert.alert-success
          = flash[:success]
      - if @user.errors.any?
        .alert.alert-danger
          = @user.errors.full_messages.first
      .list-group
        .list-group-item
          = label_tag 'Email'
          = text_field_tag :email, @user.email, class: "form-control"
      .list-group
        .list-group-item
          = label_tag 'New password'
          = password_field_tag :password, nil, class: "form-control"
      .list-group
        .list-group-item
          = label_tag 'Confirm new password'
          = password_field_tag :password_confirmation, nil, class: "form-control"
      .list-group
        .list-group-item
          = label_tag 'Time zone'
          = select_tag :time_zone, time_zone_options_for_select(@user.time_zone), class: "form-control"
      .list-group
        .list-group-item
          = label_tag 'Current password to save changes'
          = password_field_tag :current_password, nil, class: "form-control"
      .form-group
        = submit_tag "Save changes", class: "btn btn-primary btn-block"
