.row
  .col-md-6.col-md-offset-3
    .back-to-calendar
      %a{href: events_path(date: @event.start_date || @start_date), id: 'back-to-calendar-link'}
        %span.icon.icon-arrow-bold-left
        Back to calendar
    = form_tag(create_event_path, method: :post) do
      - if @event.errors.any?
        .alert.alert-danger
          = @event.errors.full_messages.first
      .list-group
        .list-group-item
          .row
            .col-md-3
              Title
            .col-md-9
              = text_field_tag :title, nil, class: "form-control"
        .list-group-item
          .row
            .col-md-3
              When?
            .col-md-9
              .radio-inline.custom-control.custom-radio
                %label
                  = radio_button_tag :event_type, :specific_time, @event.event_type.nil? || @event.specific_time?, id: 'specific-time-radio'
                  %span.custom-control-indicator
                  At a specific time
              .radio-inline.custom-control.custom-radio
                %label
                  = radio_button_tag :event_type, :any_time, @event.any_time?, id: 'any-time-radio'
                  %span.custom-control-indicator
                  Any time
              .radio-inline.custom-control.custom-radio
                %label
                  = radio_button_tag :event_type, :all_day, @event.all_day?, id: 'all-day-radio'
                  %span.custom-control-indicator
                  All day
        .list-group-item
          .row
            .col-md-3
              Starts
            .col-md-5
              = text_field_tag :start_date, event_form_date(@event.start_date, @start_date), class: "form-control event-datepicker-input", 'data-provide' => 'datepicker'
            .col-md-4
              = select_tag :start_time, options_for_select(possible_event_times, default_event_start_time(@event, @now)), class: "form-control", id: 'event-start-time-dropdown'
        .list-group-item
          .row
            .col-md-3
              Ends
            .col-md-5
              = text_field_tag :end_date, event_form_date(@event.end_date, @end_date), class: "form-control event-datepicker-input", 'data-provide' => 'datepicker'
            .col-md-4
              = select_tag :end_time, options_for_select(possible_event_times, default_event_end_time(@event, @now)), class: "form-control", id: 'event-end-time-dropdown'
        .list-group-item
          .row
            .col-md-3
              Notes
            .col-md-9
              = text_area_tag :notes, nil, class: "form-control"
      .form-group
        = submit_tag "Create", class: "btn btn-primary btn-block"
